@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto",sans-serif; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 5px; }

.tituloPrincipal {
  color: black;
  font-size: 60px;
  text-align: center; }

.btn-inicio {
  text-decoration: none;
  text-align: right;
  padding-bottom: 10px; }

.title-nosotros {
  font-style: italic;
  font-size: 100px; }

.title-visita {
  font-style: italic;
  font-size: 50px; }

.videoApple {
  width: 100%;
  height: 850px; }

.img-promo {
  width: 60%;
  height: 100%; }

.title-AirPods-Max {
  font-style: bold;
  font-size: 35px;
  color: #161515; }

.title-exp {
  color: whitesmoke;
  font-style: bold;
  font-size: 50px;
  position: absolute;
  bottom: 530px;
  left: 350px; }

.fondogris {
  background-color: rgba(226, 215, 215, 0.288); }

.tamaño-card {
  width: 350px;
  height: 420px; }

.tamaño-img {
  width: 250px;
  height: 250px; }

.img-art {
  width: 200px;
  height: 200px; }

.fondoArticulos {
  background-color: #e8e2e2; }

.bg-silver {
  background-color: #BDC3C7; }

.bg-gold {
  background-color: #FFD700; }

.bg-bronze {
  background-color: #E59866; }

.bordes {
  border-radius: 15px; }

.title-comoAsociarse {
  font-style: italic;
  font-size: 100px; }

.margen-window-A {
  margin-bottom: 100px;
  padding-top: 50px; }

.margen-window-B {
  margin-bottom: 230px; }

.animacion:hover {
  transition: 100ms;
  border: black 5px solid;
  border-radius: 15px; }
