* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto",sans-serif; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 5px; }

.tituloPrincipal {
  color: black;
  font-size: 60px;
  text-align: center; }

.BotonDeRegistro {
  text-decoration: none;
  position: absolute;
  left: 1450px;
  bottom: 900px;
  margin-bottom: 10px; }

.RedesSociales {
  text-align: center;
  font-size: 20px; }

.facebook {
  font-size: 15px;
  text-align: center; }

.instagram {
  font-size: 15px;
  text-align: center; }

.twitter {
  font-size: 15px;
  text-align: center; }

.divPieRedes {
  animation-name: efecto_redes;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.94, 0.51);
  animation-delay: 1s;
  animation-duration: 3s;
  margin: 50px 0;
  animation-iteration-count: infinite; }

@keyframes efecto_redes {
  0% {
    height: 50px;
    background-color: red;
    transform: scale(0.5);
    transform: translateX(0px); }
  25% {
    height: 60px;
    background-color: green;
    transform: scale(0.5);
    transform: translateX(0px); }
  50% {
    height: 70px;
    background-color: orange;
    transform: scale(0.5);
    transform: translateX(0px); }
  75% {
    height: 80px;
    background-color: violet;
    transform: scale(0.5);
    transform: translateX(0px); }
  100% {
    height: 90px;
    background-color: blue;
    transform: scale(0.5);
    transform: translateX(0px); } }

.divPieAnimacion {
  height: 35px;
  transition: height 2s, width 1s; }

.divPieAnimacion:hover {
  height: 75px;
  background-color: gray; }

.videoApple {
  width: 950px;
  height: 600px;
  position: relative;
  left: 150px; }

.imagenAirpodsXiaomi {
  width: 500px;
  height: 380px; }

.imagenAirpodsApple {
  width: 500px;
  height: 380px; }

.fondogris {
  background-color: #e8e2e2; }

.imagenesArticulos {
  width: 150px;
  height: 200px; }

.fondoArticulos {
  background-color: #e8e2e2; }

.bordes {
  border: 3px solid black; }

.fondosocios {
  background-color: #e8e2e2; }
