.tituloPrincipal{
    color: black;
    font-size: 60px;
    text-align: center;
}
.BotonDeRegistro{
    text-decoration: none;
    position:absolute;
        left: 1450px; bottom: 900px;
    margin-bottom: 10px;
}
