.videoApple{
    width: 950px;
    height: 600px;
    position: relative;
        left: 150px;
}
.imagenAirpodsXiaomi{
    width:500px;
    height:380px;
}
.imagenAirpodsApple{
    width:500px;
    height:380px;
}
.fondogris{
    background-color: rgb(232, 226, 226);
}